@model Audit_Mvc_Core.Models.Company

@{
    ViewData["Title"] = "CompanyDetails";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<h1>CompanyDetails</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpGstNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpGstNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpPanNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpPanNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpLicenceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpLicenceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpPropreitorFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpPropreitorFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpPropreitorLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpPropreitorLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpGstAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpGstAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpGstState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpGstState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpGstCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpGstCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpCompanyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpCompanyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpCompanyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpCompanyState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpCompanyCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpCompanyCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpBankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpBankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpBankBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpBankBranch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpBankAccno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpBankAccno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpIfscCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpIfscCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpBankChequePhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpBankChequePhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpLandline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpLandline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmpRegisteredByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmpRegisteredByNavigation.CustomerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CmpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
