@model Audit_Mvc_Core.Models.Employee

@{
    ViewData["Title"] = "EmpDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>EmpDetails</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpFirstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpFirstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpLastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpLastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpMobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpMobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEmailid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEmailid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpProfilepic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpProfilepic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpBankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpBankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpBankBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpBankBranch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpBankAccno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpBankAccno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpIfscCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpIfscCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPanNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPanNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDoj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDoj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpQualificationDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpQualificationDoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
