<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-/+MvZ8Wc7O4XKj4/pHnkGvUC8WAGtVgSfTwPp3qftv85ZPb0C+yXKKZTgQs1yl0IuR97KkEnzFNTbKjZiJnR6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    

    <style>
        /*body{  
                
            background-image: url('https://th.bing.com/th/id/R.2c22cc013da0ab40f182f31015041086?rik=OlMCNfzjHEbLAg&riu=http%3a%2f%2fwww.superiorwallpapers.com%2fdownload%2fman-in-a-black-suit-hd-1920x1080.jpg&ehk=rWJ7BqvWEwtEObKufxQkl1XFqC7IC7ellM%2boNxYvzds%3d&risl=&pid=ImgRaw&r=0');
        }*/
        #header{
            background-color:cadetblue;
            height:50px;
            /*background-image:url('https://thumbs.dreamstime.com/b/abstract-background-headers-blue-sky-design-dark-abstract-background-headers-blue-sky-design-127611593.jpg');
*/        }
        
        
       
                
        .card{
            background-color: rgb(255, 255, 255);
            border-color: black;
            height: 200px;
            width:200px;
            margin: 10px;
            color: rgb(106, 95, 255);
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
                    
        }
        #Analysis{
            background-color: rgb(255, 255, 255);
            border-color: black;
            margin: 10px; 
            height:300px;
            width:1020px;
        }
        .container{
            margin-top:100px ;            
        }
        .sidebar-nav{
            background-color: rgb(255, 255, 255);      
        }
        #b{
            border-radius:5px;
            border-width:2px;
            border-color:cyan;
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row" id="header">
            <div class="col-md-2"><i class="fa-sharp fa-solid fa-percent fa-2xl"></i></div>
            <div class="col-md-6" style="color:snow;"> <center><h2>Welcome</h2></center></div>
            <div class="col-md-4">             
                    <nav class="navbar navbar-expand" >                      
                        <a class="navbar-brand" href="#">Display name</a>
                    <ul class="navbar-nav" style="color:snow">
                            <li class="nav-item ml-auto">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item ml-auto">
                                <a class="nav-link" href="#">Sign out</a>
                            </li>
                            <li>
                                <div>

                                </div>
                            </li>
                        </ul>
                    </nav>  
                    
            </div>
        </div>
    </div>
    <div id="b">
        <div class="container">

            <div class="row">
                <div class="col-lg-2" style="margin-left:5px">
                    <div class="card">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav" style="margin-left:0;list-style:none;margin-top: 10px;">
                            <li class="sidebar-brand">
                                <a href="#menu-toggle" id="menu-toggle" style="margin-top:20px;float:right;"> </a>
                            </li>
                            <li>
                                    @Html.ActionLink("Home","Admin_DashBoard","Admin")
                            </li>
                            <li>
                                    <a href="@Url.Action("AdminTaskAssign","Admin")"> Asigning Task</a>
                            </li>
                            <li>
                                    <a href="@Url.Action("Index","Employee")">Employee Details</a>
                            </li>
                            
                            <li>
                                    <a href="@Url.Action("Index","Company")">Companies Details</a>
                            </li>
                            <li>
                                <a href="#"> <span>Calculation </span> </a>
                            </li>

                        </ul>
                    </div>
                    </div>
                </div>
                
                <div class="col-lg-9" style="background-color:snow; padding:5px;border-radius:5px;">
                    @RenderBody()
                    @RenderSection("scripts", required: false)
                 </div>
                </div> 
        </div>
    </div>
   
    <footer style="position:absolute">
        <div class="container-fluid">
            <div class="row" style="margin-top: 20px; background-color: snow;">
                <div class="col-lg-6" style="margin-top: 15px; display: flex;gap:20px;">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.google.com/" target="_blank"><i class="fa-brands fa-google"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <div class="col-lg-6" style="margin-top: 15px;">
                    <p style="color:maroon">© Copyright 2011-2023 www.Audit.com. All rights reserved. Developed by Bhaskar & Krishna </p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
